<!-- <form class="vertical-form"> HTMLのformタグ-->

<%= form_tag("/event/#{@event.id}/haiku" , method: :post) do %> <!-- rubyのformタグ。ダブっていると動かない -->


  <h3>
  投句する
  </h3>

<div class="haikuinput">

  <!-- <div class="field1">
    <label class="label" for="name">名前</label>
    <input  name = "name" class="inputfield" type="text" placeholder="山田 太郎"></input>
  </div> -->

  <div class="field1">
    <label class="label" for="haiku">句</label>
    <textarea id="haiku" name = "text" class="inputfield" placeholder="句をかいてください"></textarea>
  </div>

  <div class="field1">
    <button type="submit" value="SENT">送信</button>
  </div>
  <% end %>

</div>
</div>

<!-- </form>
