<!-- index.html -->
<form class="vertical-form">
  <div class="field">
    <label class="label" for="name">名前</label>
    <input id="name" class="inputfield" type="text" placeholder="山田 太郎">
  </div>
  
  <div class="field">
    <label class="label" for="message">句</label>
    <textarea id="message" class="inputfield" placeholder="句をかいてください"></textarea>
  </div>
  
  <div class="field">
    <button type="submit">送信</button>
  </div>
</form>