<div class="contents row" >
   <h4>No, <%= @user_id %> の投稿一覧</h4>
   <% @haikus.each do |haiku| %>
     <div class="content_post" >
       <ul><%= simple_format(haiku.text) %><ul>
     </div>
   <% end %>
 </div>
