<!-- eventのindex -->
<!-- <link rel="stylesheet" href="event.css.scss"> -->

<ul class="new-event">
  <li>
    <a href="/event/new">新規句会作成はこちら</a>
  </li>
</ul>


<h1>句会一覧</h1>

      <div class="event">
         <% if @events %> <!--eventか空でも動くように -->
           <% @events.each do |event| %>
           <p><%= event.event_title %></p>
           <% end %>
         <% end %>
      </div>
