<!-- eventのindex -->
<!-- <link rel="stylesheet" href="event.css.scss"> -->

<ul class="new-event">
  <li>
    <a href="/event/new">新規句会作成はこちら</a>
  </li>
</ul>


<h1>句会一覧</h1>

      <div class="event-list">
         <!-- <% if @events %> -->
           <% @events.each do |event| %>
           <p>
           <a href="/event/:id"><%= event.event_title %></a>
           </p>
           <% end %>
         <% end %>
      </div>
