<!-- eventのindex -->
<!-- <link rel="stylesheet" href="event.css.scss"> -->

  <ul class="new-event">
      <h4><a href="/event/new">新規句会作成はこちら</a></h4>
  <ul>

  <div class="event-list">
      <h4>句会一覧</h4>
       <!-- <% if @events %> -->
         <% @events.each do |event| %>
         <ul>
           <li><pre><%= link_to "「#{event.event_title}」", "/event/#{event.id}/haiku"%>    <%= link_to "★この句会に投句する", "/event/#{event.id}/haiku/new"%></pre></li>
         </ul>
         <% end %>
       <% end %>
  </div>
