<!-- eventのindex -->
<!-- <link rel="stylesheet" href="event.css.scss"> -->

<ul class="new-event">
    <h1><a href="/event/new">新規句会作成はこちら</a></h1>
<ul>



<h2>句会一覧</h2>

      <div class="event-list">
         <!-- <% if @events %> -->
           <% @events.each do |event| %>
           <p>
             <%= link_to "#{event.event_title}", "/event/#{event.id}/haiku"%>
           </p>
           <p>
              <%= link_to "この句会に投句する", "/event/#{event.id}/haiku/new"%>
           </p>
           <% end %>
         <% end %>
      </div>
