<!-- eventのindex -->

  <div class="kukai-form">
      <!-- ここからフォーム -->
      <% if current_user.id %>
        <%= form_tag('/event' , method: :post) do %>
          <h1>句会を作成する</h1>
          <textarea cols="100" name="event_title" placeholder="句会名" rows="2"></textarea>
          <input type="submit" value="SENT">
        <% end %>
        <% end %>
    </div>

    <class="">
        <a class="btn" href="/event">句会一覧へもどる</a>
      </div>
