<!-- eventのindex -->
<div class="kukai-form">
<% if user_signed_in? %>
  <%= form_tag('/event' , method: :post) do %>

  <h3>
  ★新しい句会を作る
  </h3>

<div class="haikuinput">

  <div class="field1">
    <label class="label" for="haiku">句会名</label>
    <textarea id="haiku" name = "event_title" class="inputfield" placeholder=""></textarea>
  </div>

  <div class="field1">
    <button type="submit" value="SENT">送信</button>
  </div>

  <% end %>
  <% end %>
</div>
</div>
