// Place all the styles related to the haiku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style.sass */

.form {
writing-mode: vertical-rl;
}

.field-no {
	height: 100px;
}

.sen {
	height: 80px;
}

.field-haikutext {
	height: 500px;
	margin-top: -600px;
}

.Tategaki {
writing-mode: tb-rl;
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
text-orientation: upright;
}
