// Place all the styles related to the haiku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style.sass */

.form {
writing-mode: vertical-rl;
}

table {
	width: 90%;
}

.field-no {
	height: 100px;
}

.選 {
	height: 70px;
}

.field-haikutext {
	height: 500px;
	margin-top: -500px;
}

.Tategaki {
writing-mode: tb-rl;
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
text-orientation: upright;
}


.戻る  {
margin-top: 80px;
}
