// Place all the styles related to the haiku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style.sass */
form {
writing-mode: vertical-rl;
}


.Tategaki {
height:100px;
writing-mode: tb-rl;
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
text-orientation: upright;
}


.field-sen {
  empty-cells: show;
}

.field-haikutext {
  color: red;
}