// Place all the styles related to the haiku controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style.sass */

.test {
  writing-mode: vertical-rl;
}

form {
  >.haikuinput {
  margin-top: 50px;
  width:auto;
  margin-right: auto;
  margin-left : auto;


  > .field1 {
  width: 100px;

    > .label {
    display: block;
    float:right ;
    }

    > .inputfield {
      writing-mode: initial;
      transform: rotate(90deg);
      transform-origin: top left;

      width: 250px;
      height: 20px;
      margin-right: -215px;
    }

    > button {
      writing-mode: initial;
      transform: rotate(90deg);
      transform-origin: top left;

      width: 80px;
      height: 30px;
      margin-right: -80px;
    }
  }
 }
}
