.keycolor {
  background-color:#44617b;
}

.keycolor li{
  color: white ;
  height: 45px;
  list-style: none ;
  float: left ;
  padding : 10px 50px;
}

a:link{
  color: #fff;
  text-decoration: none;
}

a:visited{
  color:#c7dc68;
}
a:hover{
  color: #ffec47;
}
a:active{
  color: #99cc00;
}

.header__bar row li{
  flort: left;
}




.keycolor li {
  background-color: #44617b ;
  color: #fff ;
  height: 50px;
  display: block;
  list-style: none ;
  float: left ;
  padding: 10px 50px;
}

.main{
  display: block;
  float: left
}

li {
  list-style: none;
  float: left;
}

.footer p{
  background-color: #44617b;
  color: #fff;
  height:120px ;
}
